## 머신러닝1
문제문의 datamanim@gmail.com

데이터 : 급성심장정지조사 데이터 후처리 (2019,2020)    
출처 : https://mdis.kostat.go.kr/ (기관으로부터 본 교육자료 외 2차 가공 및 배포 불가능하다는 답변 받았습니다.)


m1.csv : 성별,연령에 따른 급성심장정지 발생에 대한 조사 데이터    
m1_index.csv : 각 응답에 따른 대응값에 대한 정보    


종속변수 :응급실 심폐소생술 후 자발순환 회복 여부

In [5]:
import pandas as pd
df = pd.read_csv('m1.csv')
idx = pd.read_csv('m1_index.csv')

display(df.head())
idx.head()

,성별,연령,병원 도착 전 자발순환 회복 여부,병원 도착 전 급성심장정지 목격 여부,목격자유형1,목격자유형2,일반인 심폐소생술 시행여부,발생장소_공공장소,발생장소_비공공장소,급성심장정지 발생 당시 활동,발생원인_질병,발생원인_질병외,응급실 심폐소생술 후 자발순환 회복 여부,응급실 제세동 실시 여부,환자 발생장소_시도
0,1,0,2,1,NaN,3.0,2,NaN,1.0,7,1.0,NaN,1.0,1,서울
1,1,0,2,1,NaN,3.0,2,NaN,1.0,7,1.0,NaN,2.0,1,경기
2,1,0,2,1,NaN,3.0,2,NaN,1.0,7,5.0,NaN,1.0,1,경기
3,1,0,2,1,NaN,3.0,2,NaN,1.0,7,5.0,NaN,1.0,1,경기
4,1,0,2,1,NaN,3.0,2,NaN,1.0,7,5.0,NaN,1.0,1,경기

                     변수  값          의미
0                    성별  1          남자
1                    성별  2          여자
2    병원 도착 전 자발순환 회복 여부  1     자발순환 회복
3    병원 도착 전 자발순환 회복 여부  2  자발순환 회복 없음
4  병원 도착 전 급성심장정지 목격 여부  1     목격되지 않음

머신러닝 1-1     
아래 기준에 따라 전처리를 시행하라
1. m1_index.csv를 바탕으로 조사 데이터의 값들을 모두 대응값으로 변경하라.
2. 3쌍의 컬럼을 각각 한쌍의 컬럼으로 통합컬럼들을 추가하고 6개의 컬럼은 제거하라
    - `목격자` 컬럼생성 : 목격자유형1과 목격자유형2 컬럼을 결측치가 존재하는 부분을 고려하여 서로 합친다. 
    - `발생장소` 컬럼생성 : 발생장소_공공장소과 발생장소_비공공장소 컬럼을 결측치가 존재하는 부분을 고려하여 서로 합친다. 
    - `발생원인` 컬럼생성 : 발생원인_질병과 발생원인_질병외 컬럼을 결측치가 존재하는 부분을 고려하여 서로 합친다.

머신러닝 1-2      
데이터 EDA를 실시하라(시각화 포함)

머신러닝 1-3     
종속변수(응급실 심폐소생술 후 자발순환 회복 여부)와 각 독립변수들간의 통계적인 차이가 있는지 검정하라

머신러닝 1-4      
종속변수를 예측하는 분류모델을 2개 선정 하려한다.(평가지표 auc)    
모델을 선정하고 모델 특성에 맞게 여러 범주형 변수를 적절하게 인코딩하는 방법에 대해 논하라.

In [8]:
df

,성별,연령,병원 도착 전 자발순환 회복 여부,병원 도착 전 급성심장정지 목격 여부,목격자유형1,목격자유형2,일반인 심폐소생술 시행여부,발생장소_공공장소,발생장소_비공공장소,급성심장정지 발생 당시 활동,발생원인_질병,발생원인_질병외,응급실 심폐소생술 후 자발순환 회복 여부,응급실 제세동 실시 여부,환자 발생장소_시도
0,1,0,2,1,NaN,3.0,2,NaN,1.0,7,1.0,NaN,1.0,1,서울
1,1,0,2,1,NaN,3.0,2,NaN,1.0,7,1.0,NaN,2.0,1,경기
2,1,0,2,1,NaN,3.0,2,NaN,1.0,7,5.0,NaN,1.0,1,경기
3,1,0,2,1,NaN,3.0,2,NaN,1.0,7,5.0,NaN,1.0,1,경기
4,1,0,2,1,NaN,3.0,2,NaN,1.0,7,5.0,NaN,1.0,1,경기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9000,2,98,2,2,NaN,3.0,2,NaN,1.0,7,1.0,NaN,1.0,1,서울
9001,2,98,2,2,NaN,5.0,2,NaN,1.0,7,NaN,7.0,2.0,1,서울
9002,2,98,2,2,NaN,5.0,2,NaN,3.0,7,1.0,NaN,2.0,1,인천
9003,2,99,2,2,1.0,NaN,8,NaN,6.0,8,1.0,NaN,1.0,1,경북
9004,2,99,2,2,1.0,NaN,8,NaN,6.0,8,1.0,NaN,2.0,1,경기

머신러닝 1-5     
두 개의 분류모델을 선택하여 학습하고 모델 평가를 진행하라. 데이터 분할 및 모델 학습은 다음과 같은 기준으로 진행한다.     
1. 데이터의 행의 인덱스(0부터시작)을 기준으로 7로 나눈 나머지가 0 또는 3이면 test, 그렇지 않으면 train으로 한다.
2. 전처리는 train data에 우선 실시하고 train data에서 했던 전처리 기준으로 test data에도 적용한다.
3. 모델 학습 및 결과 분석을 진행하라

In [1]:
import pandas as pd
df = pd.read_csv('s1.csv')
df.head()

  마케팅전략     판매량  만족도
0     A  524.84  8.8
1     A  493.09  8.2
2     A  532.38  8.0
3     A  576.15  9.0
4     A  488.29  9.3

통계1-1    
세 마케팅 전략 간 판매량에 유의미한 차이가 있는지 분산분석을 실시하시오. 
귀무가설과 대립가설을 명확히 설정하고, 통계량에 따른 적절한 검정을 수행하시오.

통계1-2    
필요에 따라 사후검정을 실시하여 어떤 전략 간에 유의한 차이가 있는지 확인하시오. 
박스플롯을 활용하여 시각적으로 마케팅 전략별 판매량 차이를 표현하시오.

문제문의 datamanim@gmail.com