## 머신러닝1
어느 도시의 2가지 노선의 버스들의 승객 탑승 데이터이다.
동일 노선을 운행하는 버스는 동일한 정류장을 순차적으로 이동한다.    
승객타입은 청소년, 성인, 노인 3타입이며 청소년 요금은 1천원, 성인은 2천원, 노인은 500원이다.

In [15]:
import pandas as pd
df = pd.read_csv('./m1.csv')
df.head()

  노선ID        버스ID  정류장ID                   일시  인원수 승객타입 행동타입
0  노선1  VEM7J0rb5O      1  2025-01-01 05:00:00    0  청소년   탑승
1  노선1  VEM7J0rb5O      2  2025-01-01 05:03:57    0  청소년   탑승
2  노선1  VEM7J0rb5O      3  2025-01-01 05:07:09    0  청소년   탑승
3  노선1  VEM7J0rb5O      4  2025-01-01 05:16:28    0  청소년   탑승
4  노선1  VEM7J0rb5O      5  2025-01-01 05:21:48    0  청소년   탑승

## 머신러닝1-1
아래의 기준으로 데이터 전처리를 시행하라.

1. 승객타입 컬럼의 unique value들을 컬럼으로 만들고 인원수를 value로 삽입하라. 결측치가 있다면 0으로 만든다
2. 노선ID,버스ID,정류장ID,일시에 대해 누적청소년,누적성인,누적노인 인원수 컬럼을 생성하라. 
3. 노선ID,버스ID,정류장ID,일시에 대해 누적수익 컬럼을 만들고 누적 수익금액을 계산하라
4. 정류장간 이동시간 컬럼(초단위)을 생성하라. 첫번째 정류장까지의 이동시간은 31초로 고정이다.
5. 날짜 관련한 파생변수를 3개 추가하라

## 머신러닝 1-2
전처리한 데이터를 기준으로 EDA를 실시하라.(시각화, 기술통계량)

## 머신러닝 1-3
- 하나의 버스가 모든 정류소를 돌았을 때 벌어들일 수익을 예측하는 회귀 모델을 만들려고 한다. 
- 하나의 버스가 출행한 정보로 다양한 독립변수(+파생변수)를 구성하고 최종 누적 금액을 종속변수로 한다. 
- 독립변수에는 청소년과 성인 승하차로 발생한 데이터는 사용할 수 없다. 노인의 데이터만 사용한다
- 최종적으로 4510행의 데이터로 변환
- 평가지표는 mse로 한다. 
- 15시 이전에 출발을 시작한 데이터를 train, 그 외 데이터를 test로 한다.
- 2가지 이상의 모델을 사용하며 모델결과분석을 진행하라

## 통계1
10명의 환자들에게 3가지 치료법으로 치료했을 때 결과데이터이다. 세 치료법 간 효과 차이가 존재하는지 통계검정을 수행하려한다.     
귀무가설과 대립가설을 설정하고 근거를 들어 통계검정방식을 결정한 후 결과를 도출하라

In [4]:
import pandas as pd
df = pd.read_csv('./s1.csv')
df

     환자  치료법1  치료법2  치료법3
0   환자1  효과있음  효과없음  효과있음
1   환자2  효과없음  효과있음  효과없음
2   환자3  효과있음  효과있음  효과있음
3   환자4  효과없음  효과없음  효과없음
4   환자5  효과있음  효과있음  효과없음
5   환자6  효과없음  효과없음  효과있음
6   환자7  효과있음  효과있음  효과있음
7   환자8  효과없음  효과없음  효과없음
8   환자9  효과있음  효과없음  효과있음
9  환자10  효과없음  효과있음  효과없음

## 통계2
8명의 학생들에게 3가지 방식으로 학습을 시켰을 때 시험 성적을 나타낸 결과 데이터이다. 세 학습방식의 효과에 차이가 존재하는지 통계검정을 수행하려한다.     
귀무가설과 대립가설을 설정하고 근거를 들어 적절한 통계검정방식을 결정한 후 결과를 도출하라

In [7]:
import pandas as pd
df = pd.read_csv('./s2.csv')
df

    학생  학습방법A  학습방법B  학습방법C
0  학생1   30.9   37.0   72.8
1  학생2  100.0   44.6   90.6
2  학생3   53.9   15.1   82.3
3  학생4   43.0  100.0   71.9
4  학생5   22.7   58.2  100.0
5  학생6   22.7   20.4   62.9
6  학생7   19.8   19.5   72.0
7  학생8   72.8   19.6   77.2