## 머신러닝1 
- 한국에 위치한 A자동차 회사에서 해외로 부터 부품을 수입해온다.
- 20년 1월부터 25년 3월까지의 수입이벤트가 발생한 순간의 데이터를 나타낸다.
- m1.csv
    - country : 수입국가 (4개국, europe,india,japan,usa)
    - part_cateogry: 부품 카테고리
    - unit_price : 부품 가격 (수입국가의 화폐 단위에 맞춰짐)
    - quantity : 부품수량
    - 참고
        - 같은 부품이라도 시간에 따라 가격이 달라질 수 있다.

- m1_exchange.csv
    - 20년 1월부터 25년 3월까지의 환율정보가 담겨있다. (각국가의 기준단위에 대한 krw(원) 가격)
    - type : 국가 정보 (jpy 1엔, usd 1달러, eur 1유로, inr 1루피)

In [35]:
import pandas as pd

df =pd.read_csv('m1.csv')
exc =pd.read_csv('m1_exchange.csv')

In [42]:
df.sample(5)

,timestamp,country,part_category,unit_price,quantity,part_ID
12513,2022-08-11 03:05:00,USA,Engine,614.11,6,IDS_5945
9552,2022-01-15 14:08:00,USA,Brake,420.95,31,IDS_4803
11674,2022-06-16 05:47:00,USA,Engine,622.20,1,IDS_5945
8901,2022-01-01 00:08:00,Japan,Interior,30589.31,17,IDS_5703
16048,2023-06-26 13:52:00,India,Interior,7233.62,150,IDS_8772

In [40]:
exc.sample(5)

              일자     기준환율     type
3155  2022.06.28  1360.04  eur-krw
4867  2020.07.22    16.07  inr-krw
81    2024.12.11  1428.10  usd-krw
4452  2022.03.28    15.97  inr-krw
383   2023.09.14  1327.80  usd-krw

머신러닝1     
아래의 기준으로 전처리를 시행하라    
1. 각 부품의 발주건에 대한 총수입금액 컬럼(total_price)을 만들고 계산하려한다..   
    a. 국가별 관세 비율은 다음과 같다. 미국(25%), 인도(5%), 유럽(10%), 일본(3%)     
    b. 일자별 환율은 공휴일 및 주말은 발표되지 않는다.     
    c. 공휴일 및 주말에 구매한 건에 대한 환율 계산은 13:00 이전에는 전날의 환율을, 13:00 이후에는 다음날의 환율을 적용한다.    
       (연속으로 쉬는 경우에도 그 다음 영업일의 환율을 반영)      
    d. A자동차가 부품에 대해 총수입금액은 unit_price * quantity * (1+ 관세/100) * 일자별 환율과 같다.

머신러닝2    
EDA를 시행하라. 시각화 포함

머신러닝3    
일자별 3국(미국,유럽,인도)수입컬럼 금액 및 파생변수를 통해 일본에서 수입한 금액을 예측하는 모델링을 진행하려한다.       
아래 기준으로 데이터를 분할하고 모델링을 진행하라.    

1. 데이터 전처리
    (파생변수생성)
    - 일자별 3국의 수입국가 개수, 카테고리별 종류 수, 카테고리별 제품 수
    - 종속변수 : 일본의 수입금액 (독립변수가 존재하지 않는 일자는 제거)
    - 시간 관련 파생변수 4개
2. 모델링
    - 3가지 회귀모델
    - 평가지표 rmse
3. 데이터 분할
    - 일자 기준으로 정렬 후 행의 index기준으로(0부터시작) 3의 배수이거나 4의 배수이거나 5의 배수라면 train 그 외의 경우 test로 진행

## 통계1
- 주택 가격 데이터이다. (종속변수 price)
- 3차 다항회귀 모델을 학습하고 평가하라.
- 독립변수간의 상호작용 항만을 고려한 경우와 그렇지 않은 경우의 r2값을 포함한 모델 결과 해석을 진행하라.

In [54]:
df =pd.read_csv('./s1.csv')
df.head()

         Size  Rooms  Year_Built  Distance_to_Park    Price
0   87.454012      5      2004.5              2.13  1158.64
1  145.071431      4      1982.7              4.33  1084.19
2  123.199394      3      1981.6              4.62   943.60
3  109.865848      4      1985.8              2.38  1185.59
4   65.601864      5      1980.6              2.46  1061.23